<div>

    <jhi-alert></jhi-alert>
    <div>
        <button class="btn btn-success float-right" (click)="loadFirst()">
            <fa-icon [icon]="'sync'"></fa-icon> <span>Sayfayı Yenile</span>
        </button>

    </div>
    <br/>

    <div class="table-responsive" *ngIf="kartOkumaList">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-lg-4 ui-md-6 ui-sm-12"  *ngFor="let kartOkuma of kartOkumaList ;trackBy: trackId" [ngClass]="kartOkuma.hareket==0?'girisBorder':'cikisBorder'">
                <p-card class="cardBottom">
                    <div class="ui-g ui-fluid"  style="color: #000066; font-weight: bold; background-color: #f5f5f5">
                        <div class="ui-g-12 ui-lg-6 ui-md-6 ui-sm-6">
                            <a> <img *ngIf= "kartOkuma.resim!=null" [src]="'data:image/jpeg;base64,' + kartOkuma.resim" style="max-height: 150px;"/></a>
                            <img *ngIf="kartOkuma.resim==null"  src="../../../content/images/noimage.png" style="max-height: 150px;"/>
                        </div>
                        <div class="ui-g-12 ui-lg-6 ui-md-6 ui-sm-6">
                            <div class="ui-g ui-fluid">
                                <div class="ui-g-12 ui-md-12">
                                    {{kartOkuma.adiSoyadi}}
                                </div>

                                <div class="ui-g-12 ui-md-12">
                                    {{kartOkuma.kapi}} Numaralı Turnike
                                </div>
                                <div class="ui-g-12 ui-md-12">
                                    {{kartOkuma.saat  | number:'2.0-0'}} :{{kartOkuma.dakika | number:'2.0-0'}}
                                </div>
                                <div class="ui-g-12 ui-md-12">
                                    <span [ngClass]="kartOkuma.hareket==0?'giris':'cikis'"> {{kartOkuma.hareket ==0?"Giriş":"Çıkış"}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-card>

            </div>
        </div>
    </div>
</div>
