<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-istectrubeleri-heading">Create or edit a Istectrubeleri</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!istectrubeleri.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="istectrubeleri.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_calismaAlani">Calisma Alani</label>
                    <select class="form-control" name="calismaAlani" [(ngModel)]="istectrubeleri.calismaAlani" id="field_calismaAlani"  required>
                        <option value="KAMU">KAMU</option>
                        <option value="OZEL">OZEL</option>
                        <option value="ULUSLARARASI">ULUSLARARASI</option>
                    </select>
                    <div [hidden]="!(editForm.controls.calismaAlani?.dirty && editForm.controls.calismaAlani?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.calismaAlani?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_calismaSekli">Calisma Sekli</label>
                    <select class="form-control" name="calismaSekli" [(ngModel)]="istectrubeleri.calismaSekli" id="field_calismaSekli"  required>
                        <option value="TAM_ZAMANLI">TAM_ZAMANLI</option>
                        <option value="YARI_ZAMANLI">YARI_ZAMANLI</option>
                        <option value="STAJ">STAJ</option>
                    </select>
                    <div [hidden]="!(editForm.controls.calismaSekli?.dirty && editForm.controls.calismaSekli?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.calismaSekli?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_kurumAdi">Kurum Adi</label>
                    <input type="text" class="form-control" name="kurumAdi" id="field_kurumAdi"
                        [(ngModel)]="istectrubeleri.kurumAdi" required/>
                    <div [hidden]="!(editForm.controls.kurumAdi?.dirty && editForm.controls.kurumAdi?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.kurumAdi?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_gorevBirimi">Gorev Birimi</label>
                    <input type="text" class="form-control" name="gorevBirimi" id="field_gorevBirimi"
                        [(ngModel)]="istectrubeleri.gorevBirimi" required/>
                    <div [hidden]="!(editForm.controls.gorevBirimi?.dirty && editForm.controls.gorevBirimi?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.gorevBirimi?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_unvan">Unvan</label>
                    <input type="text" class="form-control" name="unvan" id="field_unvan"
                        [(ngModel)]="istectrubeleri.unvan" required/>
                    <div [hidden]="!(editForm.controls.unvan?.dirty && editForm.controls.unvan?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.unvan?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_baslangicAyi">Baslangic Ayi</label>
                    <select class="form-control" name="baslangicAyi" [(ngModel)]="istectrubeleri.baslangicAyi" id="field_baslangicAyi"  required>
                        <option value="OCAK">OCAK</option>
                        <option value="SUBAT">SUBAT</option>
                        <option value="MART">MART</option>
                        <option value="NISAN">NISAN</option>
                        <option value="MAYIS">MAYIS</option>
                        <option value="HAZIRAN">HAZIRAN</option>
                        <option value="TEMMUZ">TEMMUZ</option>
                        <option value="AGUSTOS">AGUSTOS</option>
                        <option value="EYLUL">EYLUL</option>
                        <option value="EKIM">EKIM</option>
                        <option value="KASIM">KASIM</option>
                        <option value="ARALIK">ARALIK</option>
                    </select>
                    <div [hidden]="!(editForm.controls.baslangicAyi?.dirty && editForm.controls.baslangicAyi?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.baslangicAyi?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_baslangicYili">Baslangic Yili</label>
                    <input type="number" class="form-control" name="baslangicYili" id="field_baslangicYili"
                        [(ngModel)]="istectrubeleri.baslangicYili" required/>
                    <div [hidden]="!(editForm.controls.baslangicYili?.dirty && editForm.controls.baslangicYili?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.baslangicYili?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.baslangicYili?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bitisAyi">Bitis Ayi</label>
                    <select class="form-control" name="bitisAyi" [(ngModel)]="istectrubeleri.bitisAyi" id="field_bitisAyi"  required>
                        <option value="OCAK">OCAK</option>
                        <option value="SUBAT">SUBAT</option>
                        <option value="MART">MART</option>
                        <option value="NISAN">NISAN</option>
                        <option value="MAYIS">MAYIS</option>
                        <option value="HAZIRAN">HAZIRAN</option>
                        <option value="TEMMUZ">TEMMUZ</option>
                        <option value="AGUSTOS">AGUSTOS</option>
                        <option value="EYLUL">EYLUL</option>
                        <option value="EKIM">EKIM</option>
                        <option value="KASIM">KASIM</option>
                        <option value="ARALIK">ARALIK</option>
                    </select>
                    <div [hidden]="!(editForm.controls.bitisAyi?.dirty && editForm.controls.bitisAyi?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.bitisAyi?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bitisYili">Bitis Yili</label>
                    <input type="number" class="form-control" name="bitisYili" id="field_bitisYili"
                        [(ngModel)]="istectrubeleri.bitisYili" required/>
                    <div [hidden]="!(editForm.controls.bitisYili?.dirty && editForm.controls.bitisYili?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.bitisYili?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.bitisYili?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_gorevTanimi">Gorev Tanimi</label>
                    <input type="text" class="form-control" name="gorevTanimi" id="field_gorevTanimi"
                        [(ngModel)]="istectrubeleri.gorevTanimi" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ulke">Ulke</label>
                    <select class="form-control" name="ulke" [(ngModel)]="istectrubeleri.ulke" id="field_ulke"  required>
                        <option value="TURKIYE">TURKIYE</option>
                        <option value="INGILTERE">INGILTERE</option>
                        <option value="ALMANYA">ALMANYA</option>
                        <option value="JAPONYA">JAPONYA</option>
                    </select>
                    <div [hidden]="!(editForm.controls.ulke?.dirty && editForm.controls.ulke?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ulke?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sehir">Sehir</label>
                    <select class="form-control" name="sehir" [(ngModel)]="istectrubeleri.sehir" id="field_sehir"  required>
                        <option value="ADANA">ADANA</option>
                        <option value="ADIYAMAN">ADIYAMAN</option>
                        <option value="AFYON">AFYON</option>
                        <option value="AGRI">AGRI</option>
                        <option value="AMASYA">AMASYA</option>
                        <option value="ANKARA">ANKARA</option>
                        <option value="ANTALYA">ANTALYA</option>
                        <option value="ARTVIN">ARTVIN</option>
                        <option value="AYDIN">AYDIN</option>
                        <option value="BALIKESIR">BALIKESIR</option>
                        <option value="ISTANBUL">ISTANBUL</option>
                        <option value="IZMIR">IZMIR</option>
                    </select>
                    <div [hidden]="!(editForm.controls.sehir?.dirty && editForm.controls.sehir?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sehir?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_yararliBilgier">Yararli Bilgier</label>
                    <input type="text" class="form-control" name="yararliBilgier" id="field_yararliBilgier"
                        [(ngModel)]="istectrubeleri.yararliBilgier" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
