<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="istectrubeleri">
            <h2><span>Istectrubeleri</span> {{istectrubeleri.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Calisma Alani</span></dt>
                <dd>
                    <span>{{istectrubeleri.calismaAlani}}</span>
                </dd>
                <dt><span>Calisma Sekli</span></dt>
                <dd>
                    <span>{{istectrubeleri.calismaSekli}}</span>
                </dd>
                <dt><span>Kurum Adi</span></dt>
                <dd>
                    <span>{{istectrubeleri.kurumAdi}}</span>
                </dd>
                <dt><span>Gorev Birimi</span></dt>
                <dd>
                    <span>{{istectrubeleri.gorevBirimi}}</span>
                </dd>
                <dt><span>Unvan</span></dt>
                <dd>
                    <span>{{istectrubeleri.unvan}}</span>
                </dd>
                <dt><span>Baslangic Ayi</span></dt>
                <dd>
                    <span>{{istectrubeleri.baslangicAyi}}</span>
                </dd>
                <dt><span>Baslangic Yili</span></dt>
                <dd>
                    <span>{{istectrubeleri.baslangicYili}}</span>
                </dd>
                <dt><span>Bitis Ayi</span></dt>
                <dd>
                    <span>{{istectrubeleri.bitisAyi}}</span>
                </dd>
                <dt><span>Bitis Yili</span></dt>
                <dd>
                    <span>{{istectrubeleri.bitisYili}}</span>
                </dd>
                <dt><span>Gorev Tanimi</span></dt>
                <dd>
                    <span>{{istectrubeleri.gorevTanimi}}</span>
                </dd>
                <dt><span>Ulke</span></dt>
                <dd>
                    <span>{{istectrubeleri.ulke}}</span>
                </dd>
                <dt><span>Sehir</span></dt>
                <dd>
                    <span>{{istectrubeleri.sehir}}</span>
                </dd>
                <dt><span>Yararli Bilgier</span></dt>
                <dd>
                    <span>{{istectrubeleri.yararliBilgier}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/istectrubeleri', istectrubeleri.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
