<div>
    <h2 id="page-heading">
        <span>Istectrubeleris</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-istectrubeleri" [routerLink]="['/istectrubeleri/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Istectrubeleri
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="istectrubeleris">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="calismaAlani"><span>Calisma Alani</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="calismaSekli"><span>Calisma Sekli</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="kurumAdi"><span>Kurum Adi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gorevBirimi"><span>Gorev Birimi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="unvan"><span>Unvan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="baslangicAyi"><span>Baslangic Ayi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="baslangicYili"><span>Baslangic Yili</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bitisAyi"><span>Bitis Ayi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bitisYili"><span>Bitis Yili</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gorevTanimi"><span>Gorev Tanimi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ulke"><span>Ulke</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sehir"><span>Sehir</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="yararliBilgier"><span>Yararli Bilgier</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let istectrubeleri of istectrubeleris ;trackBy: trackId">
                <td><a [routerLink]="['/istectrubeleri', istectrubeleri.id, 'view' ]">{{istectrubeleri.id}}</a></td>
                <td>{{istectrubeleri.calismaAlani}}</td>
                <td>{{istectrubeleri.calismaSekli}}</td>
                <td>{{istectrubeleri.kurumAdi}}</td>
                <td>{{istectrubeleri.gorevBirimi}}</td>
                <td>{{istectrubeleri.unvan}}</td>
                <td>{{istectrubeleri.baslangicAyi}}</td>
                <td>{{istectrubeleri.baslangicYili}}</td>
                <td>{{istectrubeleri.bitisAyi}}</td>
                <td>{{istectrubeleri.bitisYili}}</td>
                <td>{{istectrubeleri.gorevTanimi}}</td>
                <td>{{istectrubeleri.ulke}}</td>
                <td>{{istectrubeleri.sehir}}</td>
                <td>{{istectrubeleri.yararliBilgier}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/istectrubeleri', istectrubeleri.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/istectrubeleri', istectrubeleri.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'istectrubeleri/'+ istectrubeleri.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="istectrubeleris && istectrubeleris.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
