<div>
    <h2 id="page-heading">
        <span>Projes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-proje" [routerLink]="['/proje/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Proje
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="projes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="projeAdi"><span>Proje Adi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gorevi"><span>Gorevi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="konusu"><span>Konusu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amaci"><span>Amaci</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="yil"><span>Yil</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="yurutenKurum"><span>Yuruten Kurum</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="projeCiktisi"><span>Proje Ciktisi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="anahtarKelimeler"><span>Anahtar Kelimeler</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proje of projes ;trackBy: trackId">
                <td><a [routerLink]="['/proje', proje.id, 'view' ]">{{proje.id}}</a></td>
                <td>{{proje.projeAdi}}</td>
                <td>{{proje.gorevi}}</td>
                <td>{{proje.konusu}}</td>
                <td>{{proje.amaci}}</td>
                <td>{{proje.yil}}</td>
                <td>{{proje.yurutenKurum}}</td>
                <td>{{proje.projeCiktisi}}</td>
                <td>{{proje.anahtarKelimeler}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/proje', proje.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/proje', proje.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'proje/'+ proje.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="projes && projes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
