<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="proje">
            <h2><span>Proje</span> {{proje.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Proje Adi</span></dt>
                <dd>
                    <span>{{proje.projeAdi}}</span>
                </dd>
                <dt><span>Gorevi</span></dt>
                <dd>
                    <span>{{proje.gorevi}}</span>
                </dd>
                <dt><span>Konusu</span></dt>
                <dd>
                    <span>{{proje.konusu}}</span>
                </dd>
                <dt><span>Amaci</span></dt>
                <dd>
                    <span>{{proje.amaci}}</span>
                </dd>
                <dt><span>Yil</span></dt>
                <dd>
                    <span>{{proje.yil}}</span>
                </dd>
                <dt><span>Yuruten Kurum</span></dt>
                <dd>
                    <span>{{proje.yurutenKurum}}</span>
                </dd>
                <dt><span>Proje Ciktisi</span></dt>
                <dd>
                    <span>{{proje.projeCiktisi}}</span>
                </dd>
                <dt><span>Anahtar Kelimeler</span></dt>
                <dd>
                    <span>{{proje.anahtarKelimeler}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/proje', proje.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
