<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-proje-heading">Create or edit a Proje</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!proje.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="proje.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_projeAdi">Proje Adi</label>
                    <input type="text" class="form-control" name="projeAdi" id="field_projeAdi"
                        [(ngModel)]="proje.projeAdi" required/>
                    <div [hidden]="!(editForm.controls.projeAdi?.dirty && editForm.controls.projeAdi?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.projeAdi?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_gorevi">Gorevi</label>
                    <input type="text" class="form-control" name="gorevi" id="field_gorevi"
                        [(ngModel)]="proje.gorevi" required/>
                    <div [hidden]="!(editForm.controls.gorevi?.dirty && editForm.controls.gorevi?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.gorevi?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_konusu">Konusu</label>
                    <input type="text" class="form-control" name="konusu" id="field_konusu"
                        [(ngModel)]="proje.konusu" required/>
                    <div [hidden]="!(editForm.controls.konusu?.dirty && editForm.controls.konusu?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.konusu?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amaci">Amaci</label>
                    <input type="text" class="form-control" name="amaci" id="field_amaci"
                        [(ngModel)]="proje.amaci" required/>
                    <div [hidden]="!(editForm.controls.amaci?.dirty && editForm.controls.amaci?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.amaci?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_yil">Yil</label>
                    <input type="number" class="form-control" name="yil" id="field_yil"
                        [(ngModel)]="proje.yil" required/>
                    <div [hidden]="!(editForm.controls.yil?.dirty && editForm.controls.yil?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.yil?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.yil?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_yurutenKurum">Yuruten Kurum</label>
                    <input type="text" class="form-control" name="yurutenKurum" id="field_yurutenKurum"
                        [(ngModel)]="proje.yurutenKurum" required/>
                    <div [hidden]="!(editForm.controls.yurutenKurum?.dirty && editForm.controls.yurutenKurum?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.yurutenKurum?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_projeCiktisi">Proje Ciktisi</label>
                    <select class="form-control" name="projeCiktisi" [(ngModel)]="proje.projeCiktisi" id="field_projeCiktisi"  required>
                        <option value="PROJE_OZETI">PROJE_OZETI</option>
                        <option value="PROJE_RAPORU">PROJE_RAPORU</option>
                        <option value="DIGER">DIGER</option>
                    </select>
                    <div [hidden]="!(editForm.controls.projeCiktisi?.dirty && editForm.controls.projeCiktisi?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.projeCiktisi?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_anahtarKelimeler">Anahtar Kelimeler</label>
                    <input type="text" class="form-control" name="anahtarKelimeler" id="field_anahtarKelimeler"
                        [(ngModel)]="proje.anahtarKelimeler" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
