<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-kisisel-bilgiler-heading">Create or edit a Kisisel Bilgiler</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!kisiselBilgiler.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="kisiselBilgiler.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ad">Ad</label>
                    <input type="text" class="form-control" name="ad" id="field_ad"
                        [(ngModel)]="kisiselBilgiler.ad" required/>
                    <div [hidden]="!(editForm.controls.ad?.dirty && editForm.controls.ad?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ad?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_soyad">Soyad</label>
                    <input type="text" class="form-control" name="soyad" id="field_soyad"
                        [(ngModel)]="kisiselBilgiler.soyad" required/>
                    <div [hidden]="!(editForm.controls.soyad?.dirty && editForm.controls.soyad?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.soyad?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_pirimGunSayisi">Pirim Gun Sayisi</label>
                    <input type="number" class="form-control" name="pirimGunSayisi" id="field_pirimGunSayisi"
                        [(ngModel)]="kisiselBilgiler.pirimGunSayisi" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sgkNo">Sgk No</label>
                    <input type="text" class="form-control" name="sgkNo" id="field_sgkNo"
                        [(ngModel)]="kisiselBilgiler.sgkNo" required/>
                    <div [hidden]="!(editForm.controls.sgkNo?.dirty && editForm.controls.sgkNo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sgkNo?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sicilNo">Sicil No</label>
                    <input type="text" class="form-control" name="sicilNo" id="field_sicilNo"
                        [(ngModel)]="kisiselBilgiler.sicilNo" required/>
                    <div [hidden]="!(editForm.controls.sicilNo?.dirty && editForm.controls.sicilNo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sicilNo?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_medeniDurum">Medeni Durum</label>
                    <select class="form-control" name="medeniDurum" [(ngModel)]="kisiselBilgiler.medeniDurum" id="field_medeniDurum"  required>
                        <option value="EVLI">EVLI</option>
                        <option value="BEKAR">BEKAR</option>
                    </select>
                    <div [hidden]="!(editForm.controls.medeniDurum?.dirty && editForm.controls.medeniDurum?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.medeniDurum?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cinsiyet">Cinsiyet</label>
                    <select class="form-control" name="cinsiyet" [(ngModel)]="kisiselBilgiler.cinsiyet" id="field_cinsiyet"  required>
                        <option value="Erkek">Erkek</option>
                        <option value="KADIN">KADIN</option>
                    </select>
                    <div [hidden]="!(editForm.controls.cinsiyet?.dirty && editForm.controls.cinsiyet?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cinsiyet?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_istihdamSekli">Istihdam Sekli</label>
                    <select class="form-control" name="istihdamSekli" [(ngModel)]="kisiselBilgiler.istihdamSekli" id="field_istihdamSekli"  required>
                        <option value="SK_657">SK_657</option>
                        <option value="KHK_696">KHK_696</option>
                    </select>
                    <div [hidden]="!(editForm.controls.istihdamSekli?.dirty && editForm.controls.istihdamSekli?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.istihdamSekli?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_askerlik">Askerlik</label>
                    <select class="form-control" name="askerlik" [(ngModel)]="kisiselBilgiler.askerlik" id="field_askerlik"  required>
                        <option value="YAPTI">YAPTI</option>
                        <option value="YAPMADI">YAPMADI</option>
                        <option value="MUAF">MUAF</option>
                        <option value="TECILLI">TECILLI</option>
                    </select>
                    <div [hidden]="!(editForm.controls.askerlik?.dirty && editForm.controls.askerlik?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.askerlik?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_kangrubu">Kangrubu</label>
                    <select class="form-control" name="kangrubu" [(ngModel)]="kisiselBilgiler.kangrubu" id="field_kangrubu" >
                        <option value="BILINMIYOR">BILINMIYOR</option>
                        <option value="APozitif">APozitif</option>
                        <option value="ANegatif">ANegatif</option>
                        <option value="ABPozitif">ABPozitif</option>
                        <option value="ABNegatif">ABNegatif</option>
                        <option value="BPozitif">BPozitif</option>
                        <option value="BNegatif">BNegatif</option>
                        <option value="SifirPozitif">SifirPozitif</option>
                        <option value="SifirNegatif">SifirNegatif</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_image">Image</label>
                    <div>
                        <img [src]="'data:' + kisiselBilgiler.imageContentType + ';base64,' + kisiselBilgiler.image" style="max-height: 100px;" *ngIf="kisiselBilgiler.image" alt="kisiselBilgiler image"/>
                        <div *ngIf="kisiselBilgiler.image" class="form-text text-danger clearfix">
                            <span class="pull-left">{{kisiselBilgiler.imageContentType}}, {{byteSize(kisiselBilgiler.image)}}</span>
                            <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_image" (change)="setFileData($event, kisiselBilgiler, 'image', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                        [(ngModel)]="kisiselBilgiler.image" />
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                        [(ngModel)]="kisiselBilgiler.imageContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_any">Any</label>
                    <div>
                        <div *ngIf="kisiselBilgiler.any" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(kisiselBilgiler.anyContentType, kisiselBilgiler.any)">open</a><br>
                            <span class="pull-left">{{kisiselBilgiler.anyContentType}}, {{byteSize(kisiselBilgiler.any)}}</span>
                            <button type="button" (click)="kisiselBilgiler.any=null;kisiselBilgiler.anyContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_any" (change)="setFileData($event, kisiselBilgiler, 'any', false)"/>
                    </div>
                    <input type="hidden" class="form-control" name="any" id="field_any"
                        [(ngModel)]="kisiselBilgiler.any" />
                    <input type="hidden" class="form-control" name="anyContentType" id="field_anyContentType"
                        [(ngModel)]="kisiselBilgiler.anyContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_text">Text</label>
                    <textarea class="form-control" name="text" id="field_text"
                        [(ngModel)]="kisiselBilgiler.text" ></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="kisiselBilgiler.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === kisiselBilgiler.user?.id ? kisiselBilgiler.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
