<div>
    <h2 id="page-heading">
        <span>Kisisel Bilgilers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-kisisel-bilgiler" [routerLink]="['/kisisel-bilgiler/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Kisisel Bilgiler
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="kisiselBilgilers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ad"><span>Ad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="soyad"><span>Soyad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pirimGunSayisi"><span>Pirim Gun Sayisi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sgkNo"><span>Sgk No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sicilNo"><span>Sicil No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="medeniDurum"><span>Medeni Durum</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cinsiyet"><span>Cinsiyet</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="istihdamSekli"><span>Istihdam Sekli</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="askerlik"><span>Askerlik</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="kangrubu"><span>Kangrubu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="image"><span>Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="any"><span>Any</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="text"><span>Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.id"><span>User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let kisiselBilgiler of kisiselBilgilers ;trackBy: trackId">
                <td><a [routerLink]="['/kisisel-bilgiler', kisiselBilgiler.id, 'view' ]">{{kisiselBilgiler.id}}</a></td>
                <td>{{kisiselBilgiler.ad}}</td>
                <td>{{kisiselBilgiler.soyad}}</td>
                <td>{{kisiselBilgiler.pirimGunSayisi}}</td>
                <td>{{kisiselBilgiler.sgkNo}}</td>
                <td>{{kisiselBilgiler.sicilNo}}</td>
                <td>{{kisiselBilgiler.medeniDurum}}</td>
                <td>{{kisiselBilgiler.cinsiyet}}</td>
                <td>{{kisiselBilgiler.istihdamSekli}}</td>
                <td>{{kisiselBilgiler.askerlik}}</td>
                <td>{{kisiselBilgiler.kangrubu}}</td>
                <td>
                    <a *ngIf="kisiselBilgiler.image" (click)="openFile(kisiselBilgiler.imageContentType, kisiselBilgiler.image)">
                        <img [src]="'data:' + kisiselBilgiler.imageContentType + ';base64,' + kisiselBilgiler.image" style="max-height: 30px;" alt="kisiselBilgiler image"/>
                    </a>
                    <span *ngIf="kisiselBilgiler.image">{{kisiselBilgiler.imageContentType}}, {{byteSize(kisiselBilgiler.image)}}</span>
                </td>
                <td>
                    <a *ngIf="kisiselBilgiler.any" (click)="openFile(kisiselBilgiler.anyContentType, kisiselBilgiler.any)">open</a>
                    <span *ngIf="kisiselBilgiler.any">{{kisiselBilgiler.anyContentType}}, {{byteSize(kisiselBilgiler.any)}}</span>
                </td>
                <td>{{kisiselBilgiler.text}}</td>
                <td>
                    {{kisiselBilgiler.user?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/kisisel-bilgiler', kisiselBilgiler.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/kisisel-bilgiler', kisiselBilgiler.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'kisisel-bilgiler/'+ kisiselBilgiler.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="kisiselBilgilers && kisiselBilgilers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
