<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="kisiselBilgiler">
            <h2><span>Kisisel Bilgiler</span> {{kisiselBilgiler.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Ad</span></dt>
                <dd>
                    <span>{{kisiselBilgiler.ad}}</span>
                </dd>
                <dt><span>Soyad</span></dt>
                <dd>
                    <span>{{kisiselBilgiler.soyad}}</span>
                </dd>
                <dt><span>Pirim Gun Sayisi</span></dt>
                <dd>
                    <span>{{kisiselBilgiler.pirimGunSayisi}}</span>
                </dd>
                <dt><span>Sgk No</span></dt>
                <dd>
                    <span>{{kisiselBilgiler.sgkNo}}</span>
                </dd>
                <dt><span>Sicil No</span></dt>
                <dd>
                    <span>{{kisiselBilgiler.sicilNo}}</span>
                </dd>
                <dt><span>Medeni Durum</span></dt>
                <dd>
                    <span>{{kisiselBilgiler.medeniDurum}}</span>
                </dd>
                <dt><span>Cinsiyet</span></dt>
                <dd>
                    <span>{{kisiselBilgiler.cinsiyet}}</span>
                </dd>
                <dt><span>Istihdam Sekli</span></dt>
                <dd>
                    <span>{{kisiselBilgiler.istihdamSekli}}</span>
                </dd>
                <dt><span>Askerlik</span></dt>
                <dd>
                    <span>{{kisiselBilgiler.askerlik}}</span>
                </dd>
                <dt><span>Kangrubu</span></dt>
                <dd>
                    <span>{{kisiselBilgiler.kangrubu}}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="kisiselBilgiler.image">
                        <a (click)="openFile(kisiselBilgiler.imageContentType, kisiselBilgiler.image)">
                            <img [src]="'data:' + kisiselBilgiler.imageContentType + ';base64,' + kisiselBilgiler.image" style="max-width: 100%;" alt="kisiselBilgiler image"/>
                        </a>
                        {{kisiselBilgiler.imageContentType}}, {{byteSize(kisiselBilgiler.image)}}
                    </div>
                </dd>
                <dt><span>Any</span></dt>
                <dd>
                    <div *ngIf="kisiselBilgiler.any">
                        <a (click)="openFile(kisiselBilgiler.anyContentType, kisiselBilgiler.any)">open</a>
                        {{kisiselBilgiler.anyContentType}}, {{byteSize(kisiselBilgiler.any)}}
                    </div>
                </dd>
                <dt><span>Text</span></dt>
                <dd>
                    <span>{{kisiselBilgiler.text}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{kisiselBilgiler.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/kisisel-bilgiler', kisiselBilgiler.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
