<div>
    <h2 id="page-heading">
        <span>Iletisim Bilgileris</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-iletisim-bilgileri" [routerLink]="['/iletisim-bilgileri/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Iletisim Bilgileri
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="iletisimBilgileris">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="adres"><span>Adres</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cepTelefonu"><span>Cep Telefonu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cepTelefonuAlt"><span>Cep Telefonu Alt</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="evTelefonu"><span>Ev Telefonu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dahiliTelefon"><span>Dahili Telefon</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="eposta"><span>Eposta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="acilAdSoyad"><span>Acil Ad Soyad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="yakinlik"><span>Yakinlik</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="acilTelefon"><span>Acil Telefon</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let iletisimBilgileri of iletisimBilgileris ;trackBy: trackId">
                <td><a [routerLink]="['/iletisim-bilgileri', iletisimBilgileri.id, 'view' ]">{{iletisimBilgileri.id}}</a></td>
                <td>{{iletisimBilgileri.adres}}</td>
                <td>{{iletisimBilgileri.cepTelefonu}}</td>
                <td>{{iletisimBilgileri.cepTelefonuAlt}}</td>
                <td>{{iletisimBilgileri.evTelefonu}}</td>
                <td>{{iletisimBilgileri.dahiliTelefon}}</td>
                <td>{{iletisimBilgileri.eposta}}</td>
                <td>{{iletisimBilgileri.acilAdSoyad}}</td>
                <td>{{iletisimBilgileri.yakinlik}}</td>
                <td>{{iletisimBilgileri.acilTelefon}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/iletisim-bilgileri', iletisimBilgileri.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/iletisim-bilgileri', iletisimBilgileri.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'iletisim-bilgileri/'+ iletisimBilgileri.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="iletisimBilgileris && iletisimBilgileris.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
