<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-iletisim-bilgileri-heading">Create or edit a Iletisim Bilgileri</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!iletisimBilgileri.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="iletisimBilgileri.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_adres">Adres</label>
                    <input type="text" class="form-control" name="adres" id="field_adres"
                        [(ngModel)]="iletisimBilgileri.adres" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cepTelefonu">Cep Telefonu</label>
                    <input type="text" class="form-control" name="cepTelefonu" id="field_cepTelefonu"
                        [(ngModel)]="iletisimBilgileri.cepTelefonu" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cepTelefonuAlt">Cep Telefonu Alt</label>
                    <input type="text" class="form-control" name="cepTelefonuAlt" id="field_cepTelefonuAlt"
                        [(ngModel)]="iletisimBilgileri.cepTelefonuAlt" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_evTelefonu">Ev Telefonu</label>
                    <input type="text" class="form-control" name="evTelefonu" id="field_evTelefonu"
                        [(ngModel)]="iletisimBilgileri.evTelefonu" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dahiliTelefon">Dahili Telefon</label>
                    <input type="text" class="form-control" name="dahiliTelefon" id="field_dahiliTelefon"
                        [(ngModel)]="iletisimBilgileri.dahiliTelefon" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_eposta">Eposta</label>
                    <input type="text" class="form-control" name="eposta" id="field_eposta"
                        [(ngModel)]="iletisimBilgileri.eposta" required/>
                    <div [hidden]="!(editForm.controls.eposta?.dirty && editForm.controls.eposta?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.eposta?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_acilAdSoyad">Acil Ad Soyad</label>
                    <input type="text" class="form-control" name="acilAdSoyad" id="field_acilAdSoyad"
                        [(ngModel)]="iletisimBilgileri.acilAdSoyad" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_yakinlik">Yakinlik</label>
                    <select class="form-control" name="yakinlik" [(ngModel)]="iletisimBilgileri.yakinlik" id="field_yakinlik" >
                        <option value="BABA">BABA</option>
                        <option value="ANNE">ANNE</option>
                        <option value="KARDES">KARDES</option>
                        <option value="KIZI">KIZI</option>
                        <option value="OGLU">OGLU</option>
                        <option value="ESI">ESI</option>
                        <option value="DIGER">DIGER</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_acilTelefon">Acil Telefon</label>
                    <input type="text" class="form-control" name="acilTelefon" id="field_acilTelefon"
                        [(ngModel)]="iletisimBilgileri.acilTelefon" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
