<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="iletisimBilgileri">
            <h2><span>Iletisim Bilgileri</span> {{iletisimBilgileri.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Adres</span></dt>
                <dd>
                    <span>{{iletisimBilgileri.adres}}</span>
                </dd>
                <dt><span>Cep Telefonu</span></dt>
                <dd>
                    <span>{{iletisimBilgileri.cepTelefonu}}</span>
                </dd>
                <dt><span>Cep Telefonu Alt</span></dt>
                <dd>
                    <span>{{iletisimBilgileri.cepTelefonuAlt}}</span>
                </dd>
                <dt><span>Ev Telefonu</span></dt>
                <dd>
                    <span>{{iletisimBilgileri.evTelefonu}}</span>
                </dd>
                <dt><span>Dahili Telefon</span></dt>
                <dd>
                    <span>{{iletisimBilgileri.dahiliTelefon}}</span>
                </dd>
                <dt><span>Eposta</span></dt>
                <dd>
                    <span>{{iletisimBilgileri.eposta}}</span>
                </dd>
                <dt><span>Acil Ad Soyad</span></dt>
                <dd>
                    <span>{{iletisimBilgileri.acilAdSoyad}}</span>
                </dd>
                <dt><span>Yakinlik</span></dt>
                <dd>
                    <span>{{iletisimBilgileri.yakinlik}}</span>
                </dd>
                <dt><span>Acil Telefon</span></dt>
                <dd>
                    <span>{{iletisimBilgileri.acilTelefon}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/iletisim-bilgileri', iletisimBilgileri.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
