<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-ozel-ilgi-alanlari-heading">Create or edit a Ozel Ilgi Alanlari</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!ozelIlgiAlanlari.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="ozelIlgiAlanlari.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ozelIlgiAlanlari">Ozel Ilgi Alanlari</label>
                    <input type="text" class="form-control" name="ozelIlgiAlanlari" id="field_ozelIlgiAlanlari"
                        [(ngModel)]="ozelIlgiAlanlari.ozelIlgiAlanlari" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
