<div>
    <h2 id="page-heading">
        <span>Ozel Ilgi Alanlaris</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ozel-ilgi-alanlari" [routerLink]="['/ozel-ilgi-alanlari/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Ozel Ilgi Alanlari
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="ozelIlgiAlanlaris">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ozelIlgiAlanlari"><span>Ozel Ilgi Alanlari</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ozelIlgiAlanlari of ozelIlgiAlanlaris ;trackBy: trackId">
                <td><a [routerLink]="['/ozel-ilgi-alanlari', ozelIlgiAlanlari.id, 'view' ]">{{ozelIlgiAlanlari.id}}</a></td>
                <td>{{ozelIlgiAlanlari.ozelIlgiAlanlari}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ozel-ilgi-alanlari', ozelIlgiAlanlari.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ozel-ilgi-alanlari', ozelIlgiAlanlari.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ozel-ilgi-alanlari/'+ ozelIlgiAlanlari.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="ozelIlgiAlanlaris && ozelIlgiAlanlaris.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
