<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ozelIlgiAlanlari">
            <h2><span>Ozel Ilgi Alanlari</span> {{ozelIlgiAlanlari.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Ozel Ilgi Alanlari</span></dt>
                <dd>
                    <span>{{ozelIlgiAlanlari.ozelIlgiAlanlari}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ozel-ilgi-alanlari', ozelIlgiAlanlari.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
