<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-katilim-saglanan-program-bilgisi-heading">Create or edit a Katilim Saglanan Program Bilgisi</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!katilimSaglananProgramBilgisi.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="katilimSaglananProgramBilgisi.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_programTuru">Program Turu</label>
                    <select class="form-control" name="programTuru" [(ngModel)]="katilimSaglananProgramBilgisi.programTuru" id="field_programTuru"  required>
                        <option value="SEMINER">SEMINER</option>
                        <option value="KURS">KURS</option>
                        <option value="TOPLANTI">TOPLANTI</option>
                        <option value="CALISTAY">CALISTAY</option>
                        <option value="KONFERANS">KONFERANS</option>
                        <option value="KONGRE">KONGRE</option>
                        <option value="PANEL">PANEL</option>
                        <option value="OZEL_IHTISAS_KOMISYONU">OZEL_IHTISAS_KOMISYONU</option>
                        <option value="DIGER">DIGER</option>
                    </select>
                    <div [hidden]="!(editForm.controls.programTuru?.dirty && editForm.controls.programTuru?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.programTuru?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_programGorevi">Program Gorevi</label>
                    <select class="form-control" name="programGorevi" [(ngModel)]="katilimSaglananProgramBilgisi.programGorevi" id="field_programGorevi"  required>
                        <option value="KATILIMCI">KATILIMCI</option>
                        <option value="KURSIYER">KURSIYER</option>
                        <option value="KONUSMACI">KONUSMACI</option>
                        <option value="EGITICI">EGITICI</option>
                        <option value="MODERATOR">MODERATOR</option>
                        <option value="PANELIST">PANELIST</option>
                        <option value="SUNUCU">SUNUCU</option>
                        <option value="ORGANIZASYON_VE_PLANLAMA">ORGANIZASYON_VE_PLANLAMA</option>
                        <option value="DIGER">DIGER</option>
                    </select>
                    <div [hidden]="!(editForm.controls.programGorevi?.dirty && editForm.controls.programGorevi?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.programGorevi?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_programAdi">Program Adi</label>
                    <input type="text" class="form-control" name="programAdi" id="field_programAdi"
                        [(ngModel)]="katilimSaglananProgramBilgisi.programAdi" required/>
                    <div [hidden]="!(editForm.controls.programAdi?.dirty && editForm.controls.programAdi?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.programAdi?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_programKonusu">Program Konusu</label>
                    <input type="text" class="form-control" name="programKonusu" id="field_programKonusu"
                        [(ngModel)]="katilimSaglananProgramBilgisi.programKonusu" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_baslangicYili">Baslangic Yili</label>
                    <input type="number" class="form-control" name="baslangicYili" id="field_baslangicYili"
                        [(ngModel)]="katilimSaglananProgramBilgisi.baslangicYili" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bitisYili">Bitis Yili</label>
                    <input type="number" class="form-control" name="bitisYili" id="field_bitisYili"
                        [(ngModel)]="katilimSaglananProgramBilgisi.bitisYili" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_duzenleyenKurum">Duzenleyen Kurum</label>
                    <input type="text" class="form-control" name="duzenleyenKurum" id="field_duzenleyenKurum"
                        [(ngModel)]="katilimSaglananProgramBilgisi.duzenleyenKurum" required/>
                    <div [hidden]="!(editForm.controls.duzenleyenKurum?.dirty && editForm.controls.duzenleyenKurum?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.duzenleyenKurum?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ulke">Ulke</label>
                    <select class="form-control" name="ulke" [(ngModel)]="katilimSaglananProgramBilgisi.ulke" id="field_ulke"  required>
                        <option value="TURKIYE">TURKIYE</option>
                        <option value="INGILTERE">INGILTERE</option>
                        <option value="ALMANYA">ALMANYA</option>
                        <option value="JAPONYA">JAPONYA</option>
                    </select>
                    <div [hidden]="!(editForm.controls.ulke?.dirty && editForm.controls.ulke?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ulke?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sehir">Sehir</label>
                    <select class="form-control" name="sehir" [(ngModel)]="katilimSaglananProgramBilgisi.sehir" id="field_sehir"  required>
                        <option value="ADANA">ADANA</option>
                        <option value="ADIYAMAN">ADIYAMAN</option>
                        <option value="AFYON">AFYON</option>
                        <option value="AGRI">AGRI</option>
                        <option value="AMASYA">AMASYA</option>
                        <option value="ANKARA">ANKARA</option>
                        <option value="ANTALYA">ANTALYA</option>
                        <option value="ARTVIN">ARTVIN</option>
                        <option value="AYDIN">AYDIN</option>
                        <option value="BALIKESIR">BALIKESIR</option>
                        <option value="ISTANBUL">ISTANBUL</option>
                        <option value="IZMIR">IZMIR</option>
                    </select>
                    <div [hidden]="!(editForm.controls.sehir?.dirty && editForm.controls.sehir?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sehir?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_belgeTuru">Belge Turu</label>
                    <select class="form-control" name="belgeTuru" [(ngModel)]="katilimSaglananProgramBilgisi.belgeTuru" id="field_belgeTuru"  required>
                        <option value="CAE">CAE</option>
                        <option value="CPE">CPE</option>
                        <option value="FCE">FCE</option>
                        <option value="IELTS">IELTS</option>
                        <option value="KPDS">KPDS</option>
                        <option value="TOEFL">TOEFL</option>
                        <option value="UDS">UDS</option>
                        <option value="YDS">YDS</option>
                    </select>
                    <div [hidden]="!(editForm.controls.belgeTuru?.dirty && editForm.controls.belgeTuru?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.belgeTuru?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_anahtarKelimeler">Anahtar Kelimeler</label>
                    <input type="text" class="form-control" name="anahtarKelimeler" id="field_anahtarKelimeler"
                        [(ngModel)]="katilimSaglananProgramBilgisi.anahtarKelimeler" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
