<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="katilimSaglananProgramBilgisi">
            <h2><span>Katilim Saglanan Program Bilgisi</span> {{katilimSaglananProgramBilgisi.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Program Turu</span></dt>
                <dd>
                    <span>{{katilimSaglananProgramBilgisi.programTuru}}</span>
                </dd>
                <dt><span>Program Gorevi</span></dt>
                <dd>
                    <span>{{katilimSaglananProgramBilgisi.programGorevi}}</span>
                </dd>
                <dt><span>Program Adi</span></dt>
                <dd>
                    <span>{{katilimSaglananProgramBilgisi.programAdi}}</span>
                </dd>
                <dt><span>Program Konusu</span></dt>
                <dd>
                    <span>{{katilimSaglananProgramBilgisi.programKonusu}}</span>
                </dd>
                <dt><span>Baslangic Yili</span></dt>
                <dd>
                    <span>{{katilimSaglananProgramBilgisi.baslangicYili}}</span>
                </dd>
                <dt><span>Bitis Yili</span></dt>
                <dd>
                    <span>{{katilimSaglananProgramBilgisi.bitisYili}}</span>
                </dd>
                <dt><span>Duzenleyen Kurum</span></dt>
                <dd>
                    <span>{{katilimSaglananProgramBilgisi.duzenleyenKurum}}</span>
                </dd>
                <dt><span>Ulke</span></dt>
                <dd>
                    <span>{{katilimSaglananProgramBilgisi.ulke}}</span>
                </dd>
                <dt><span>Sehir</span></dt>
                <dd>
                    <span>{{katilimSaglananProgramBilgisi.sehir}}</span>
                </dd>
                <dt><span>Belge Turu</span></dt>
                <dd>
                    <span>{{katilimSaglananProgramBilgisi.belgeTuru}}</span>
                </dd>
                <dt><span>Anahtar Kelimeler</span></dt>
                <dd>
                    <span>{{katilimSaglananProgramBilgisi.anahtarKelimeler}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/katilim-saglanan-program-bilgisi', katilimSaglananProgramBilgisi.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
