<div>
    <h2 id="page-heading">
        <span>Katilim Saglanan Program Bilgisis</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-katilim-saglanan-program-bilgisi" [routerLink]="['/katilim-saglanan-program-bilgisi/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Katilim Saglanan Program Bilgisi
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="katilimSaglananProgramBilgisis">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="programTuru"><span>Program Turu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="programGorevi"><span>Program Gorevi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="programAdi"><span>Program Adi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="programKonusu"><span>Program Konusu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="baslangicYili"><span>Baslangic Yili</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bitisYili"><span>Bitis Yili</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="duzenleyenKurum"><span>Duzenleyen Kurum</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ulke"><span>Ulke</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sehir"><span>Sehir</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="belgeTuru"><span>Belge Turu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="anahtarKelimeler"><span>Anahtar Kelimeler</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let katilimSaglananProgramBilgisi of katilimSaglananProgramBilgisis ;trackBy: trackId">
                <td><a [routerLink]="['/katilim-saglanan-program-bilgisi', katilimSaglananProgramBilgisi.id, 'view' ]">{{katilimSaglananProgramBilgisi.id}}</a></td>
                <td>{{katilimSaglananProgramBilgisi.programTuru}}</td>
                <td>{{katilimSaglananProgramBilgisi.programGorevi}}</td>
                <td>{{katilimSaglananProgramBilgisi.programAdi}}</td>
                <td>{{katilimSaglananProgramBilgisi.programKonusu}}</td>
                <td>{{katilimSaglananProgramBilgisi.baslangicYili}}</td>
                <td>{{katilimSaglananProgramBilgisi.bitisYili}}</td>
                <td>{{katilimSaglananProgramBilgisi.duzenleyenKurum}}</td>
                <td>{{katilimSaglananProgramBilgisi.ulke}}</td>
                <td>{{katilimSaglananProgramBilgisi.sehir}}</td>
                <td>{{katilimSaglananProgramBilgisi.belgeTuru}}</td>
                <td>{{katilimSaglananProgramBilgisi.anahtarKelimeler}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/katilim-saglanan-program-bilgisi', katilimSaglananProgramBilgisi.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/katilim-saglanan-program-bilgisi', katilimSaglananProgramBilgisi.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'katilim-saglanan-program-bilgisi/'+ katilimSaglananProgramBilgisi.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="katilimSaglananProgramBilgisis && katilimSaglananProgramBilgisis.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
