<div>
    <h2 id="page-heading">
        <span>Ogrenim Bilgileris</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ogrenim-bilgileri" [routerLink]="['/ogrenim-bilgileri/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Ogrenim Bilgileri
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="ogrenimBilgileris">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ogrenimDurumu"><span>Ogrenim Durumu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="okul"><span>Okul</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mezuniyetYili"><span>Mezuniyet Yili</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ogrenimDili"><span>Ogrenim Dili</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ulke"><span>Ulke</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sehir"><span>Sehir</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ogrenimBilgileri of ogrenimBilgileris ;trackBy: trackId">
                <td><a [routerLink]="['/ogrenim-bilgileri', ogrenimBilgileri.id, 'view' ]">{{ogrenimBilgileri.id}}</a></td>
                <td>{{ogrenimBilgileri.ogrenimDurumu}}</td>
                <td>{{ogrenimBilgileri.okul}}</td>
                <td>{{ogrenimBilgileri.mezuniyetYili}}</td>
                <td>{{ogrenimBilgileri.ogrenimDili}}</td>
                <td>{{ogrenimBilgileri.ulke}}</td>
                <td>{{ogrenimBilgileri.sehir}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ogrenim-bilgileri', ogrenimBilgileri.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ogrenim-bilgileri', ogrenimBilgileri.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ogrenim-bilgileri/'+ ogrenimBilgileri.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="ogrenimBilgileris && ogrenimBilgileris.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
