<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ogrenimBilgileri">
            <h2><span>Ogrenim Bilgileri</span> {{ogrenimBilgileri.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Ogrenim Durumu</span></dt>
                <dd>
                    <span>{{ogrenimBilgileri.ogrenimDurumu}}</span>
                </dd>
                <dt><span>Okul</span></dt>
                <dd>
                    <span>{{ogrenimBilgileri.okul}}</span>
                </dd>
                <dt><span>Mezuniyet Yili</span></dt>
                <dd>
                    <span>{{ogrenimBilgileri.mezuniyetYili}}</span>
                </dd>
                <dt><span>Ogrenim Dili</span></dt>
                <dd>
                    <span>{{ogrenimBilgileri.ogrenimDili}}</span>
                </dd>
                <dt><span>Ulke</span></dt>
                <dd>
                    <span>{{ogrenimBilgileri.ulke}}</span>
                </dd>
                <dt><span>Sehir</span></dt>
                <dd>
                    <span>{{ogrenimBilgileri.sehir}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ogrenim-bilgileri', ogrenimBilgileri.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
