<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-ogrenim-bilgileri-heading">Create or edit a Ogrenim Bilgileri</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!ogrenimBilgileri.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="ogrenimBilgileri.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ogrenimDurumu">Ogrenim Durumu</label>
                    <select class="form-control" name="ogrenimDurumu" [(ngModel)]="ogrenimBilgileri.ogrenimDurumu" id="field_ogrenimDurumu"  required>
                        <option value="ILKOKUL">ILKOKUL</option>
                        <option value="ORTAOKUL">ORTAOKUL</option>
                        <option value="LISE">LISE</option>
                        <option value="ONLISANS">ONLISANS</option>
                        <option value="LISANS">LISANS</option>
                        <option value="LISANSUSTU">LISANSUSTU</option>
                        <option value="DOKTORA">DOKTORA</option>
                    </select>
                    <div [hidden]="!(editForm.controls.ogrenimDurumu?.dirty && editForm.controls.ogrenimDurumu?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ogrenimDurumu?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_okul">Okul</label>
                    <input type="text" class="form-control" name="okul" id="field_okul"
                        [(ngModel)]="ogrenimBilgileri.okul" required/>
                    <div [hidden]="!(editForm.controls.okul?.dirty && editForm.controls.okul?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.okul?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_mezuniyetYili">Mezuniyet Yili</label>
                    <input type="number" class="form-control" name="mezuniyetYili" id="field_mezuniyetYili"
                        [(ngModel)]="ogrenimBilgileri.mezuniyetYili" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ogrenimDili">Ogrenim Dili</label>
                    <select class="form-control" name="ogrenimDili" [(ngModel)]="ogrenimBilgileri.ogrenimDili" id="field_ogrenimDili"  required>
                        <option value="TURKCE">TURKCE</option>
                        <option value="INGILIZCE">INGILIZCE</option>
                        <option value="FRANSIZCA">FRANSIZCA</option>
                        <option value="ALMANCA">ALMANCA</option>
                        <option value="JAPONCA">JAPONCA</option>
                    </select>
                    <div [hidden]="!(editForm.controls.ogrenimDili?.dirty && editForm.controls.ogrenimDili?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ogrenimDili?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ulke">Ulke</label>
                    <select class="form-control" name="ulke" [(ngModel)]="ogrenimBilgileri.ulke" id="field_ulke"  required>
                        <option value="TURKIYE">TURKIYE</option>
                        <option value="INGILTERE">INGILTERE</option>
                        <option value="ALMANYA">ALMANYA</option>
                        <option value="JAPONYA">JAPONYA</option>
                    </select>
                    <div [hidden]="!(editForm.controls.ulke?.dirty && editForm.controls.ulke?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ulke?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sehir">Sehir</label>
                    <select class="form-control" name="sehir" [(ngModel)]="ogrenimBilgileri.sehir" id="field_sehir"  required>
                        <option value="ADANA">ADANA</option>
                        <option value="ADIYAMAN">ADIYAMAN</option>
                        <option value="AFYON">AFYON</option>
                        <option value="AGRI">AGRI</option>
                        <option value="AMASYA">AMASYA</option>
                        <option value="ANKARA">ANKARA</option>
                        <option value="ANTALYA">ANTALYA</option>
                        <option value="ARTVIN">ARTVIN</option>
                        <option value="AYDIN">AYDIN</option>
                        <option value="BALIKESIR">BALIKESIR</option>
                        <option value="ISTANBUL">ISTANBUL</option>
                        <option value="IZMIR">IZMIR</option>
                    </select>
                    <div [hidden]="!(editForm.controls.sehir?.dirty && editForm.controls.sehir?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sehir?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
