<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-egitici-yetkinlikleri-heading">Create or edit a Egitici Yetkinlikleri</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!egiticiYetkinlikleri.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="egiticiYetkinlikleri.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_kurumTipi">Kurum Tipi</label>
                    <select class="form-control" name="kurumTipi" [(ngModel)]="egiticiYetkinlikleri.kurumTipi" id="field_kurumTipi" >
                        <option value="UNIVERSITE">UNIVERSITE</option>
                        <option value="DIGER">DIGER</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_universiteAdi">Universite Adi</label>
                    <input type="text" class="form-control" name="universiteAdi" id="field_universiteAdi"
                        [(ngModel)]="egiticiYetkinlikleri.universiteAdi" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_kurumAdi">Kurum Adi</label>
                    <input type="text" class="form-control" name="kurumAdi" id="field_kurumAdi"
                        [(ngModel)]="egiticiYetkinlikleri.kurumAdi" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fakulte">Fakulte</label>
                    <input type="text" class="form-control" name="fakulte" id="field_fakulte"
                        [(ngModel)]="egiticiYetkinlikleri.fakulte" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bolum">Bolum</label>
                    <input type="text" class="form-control" name="bolum" id="field_bolum"
                        [(ngModel)]="egiticiYetkinlikleri.bolum" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_konuDersAdi">Konu Ders Adi</label>
                    <input type="text" class="form-control" name="konuDersAdi" id="field_konuDersAdi"
                        [(ngModel)]="egiticiYetkinlikleri.konuDersAdi" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
