<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="egiticiYetkinlikleri">
            <h2><span>Egitici Yetkinlikleri</span> {{egiticiYetkinlikleri.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Kurum Tipi</span></dt>
                <dd>
                    <span>{{egiticiYetkinlikleri.kurumTipi}}</span>
                </dd>
                <dt><span>Universite Adi</span></dt>
                <dd>
                    <span>{{egiticiYetkinlikleri.universiteAdi}}</span>
                </dd>
                <dt><span>Kurum Adi</span></dt>
                <dd>
                    <span>{{egiticiYetkinlikleri.kurumAdi}}</span>
                </dd>
                <dt><span>Fakulte</span></dt>
                <dd>
                    <span>{{egiticiYetkinlikleri.fakulte}}</span>
                </dd>
                <dt><span>Bolum</span></dt>
                <dd>
                    <span>{{egiticiYetkinlikleri.bolum}}</span>
                </dd>
                <dt><span>Konu Ders Adi</span></dt>
                <dd>
                    <span>{{egiticiYetkinlikleri.konuDersAdi}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/egitici-yetkinlikleri', egiticiYetkinlikleri.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
