<div>
    <h2 id="page-heading">
        <span>Egitici Yetkinlikleris</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-egitici-yetkinlikleri" [routerLink]="['/egitici-yetkinlikleri/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Egitici Yetkinlikleri
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="egiticiYetkinlikleris">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="kurumTipi"><span>Kurum Tipi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="universiteAdi"><span>Universite Adi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="kurumAdi"><span>Kurum Adi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fakulte"><span>Fakulte</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bolum"><span>Bolum</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="konuDersAdi"><span>Konu Ders Adi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let egiticiYetkinlikleri of egiticiYetkinlikleris ;trackBy: trackId">
                <td><a [routerLink]="['/egitici-yetkinlikleri', egiticiYetkinlikleri.id, 'view' ]">{{egiticiYetkinlikleri.id}}</a></td>
                <td>{{egiticiYetkinlikleri.kurumTipi}}</td>
                <td>{{egiticiYetkinlikleri.universiteAdi}}</td>
                <td>{{egiticiYetkinlikleri.kurumAdi}}</td>
                <td>{{egiticiYetkinlikleri.fakulte}}</td>
                <td>{{egiticiYetkinlikleri.bolum}}</td>
                <td>{{egiticiYetkinlikleri.konuDersAdi}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/egitici-yetkinlikleri', egiticiYetkinlikleri.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/egitici-yetkinlikleri', egiticiYetkinlikleri.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'egitici-yetkinlikleri/'+ egiticiYetkinlikleri.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="egiticiYetkinlikleris && egiticiYetkinlikleris.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
