<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-uzmanlik-alanlari-heading">Create or edit a Uzmanlik Alanlari</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!uzmanlikAlanlari.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="uzmanlikAlanlari.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_detayBilgiler">Detay Bilgiler</label>
                    <select class="form-control" name="detayBilgiler" [(ngModel)]="uzmanlikAlanlari.detayBilgiler" id="field_detayBilgiler"  required>
                        <option value="ALTYAPI_YATIRIMLARI">ALTYAPI_YATIRIMLARI</option>
                        <option value="ARGE">ARGE</option>
                        <option value="BILGI_VE_ILETISIM_TEKONOLOJILERI">BILGI_VE_ILETISIM_TEKONOLOJILERI</option>
                        <option value="BUTCE_HAZIRLIK_VE_UYGULAMA_SURECLERI">BUTCE_HAZIRLIK_VE_UYGULAMA_SURECLERI</option>
                        <option value="CEVRE">CEVRE</option>
                        <option value="EGITIM">EGITIM</option>
                        <option value="ENERJI">ENERJI</option>
                        <option value="FON_YONETIMI">FON_YONETIMI</option>
                        <option value="GENCLIKVESPOR">GENCLIKVESPOR</option>
                    </select>
                    <div [hidden]="!(editForm.controls.detayBilgiler?.dirty && editForm.controls.detayBilgiler?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.detayBilgiler?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_aciklama">Aciklama</label>
                    <input type="text" class="form-control" name="aciklama" id="field_aciklama"
                        [(ngModel)]="uzmanlikAlanlari.aciklama" required/>
                    <div [hidden]="!(editForm.controls.aciklama?.dirty && editForm.controls.aciklama?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.aciklama?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
