<div>
    <h2 id="page-heading">
        <span>Uzmanlik Alanlaris</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-uzmanlik-alanlari" [routerLink]="['/uzmanlik-alanlari/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Uzmanlik Alanlari
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="uzmanlikAlanlaris">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="detayBilgiler"><span>Detay Bilgiler</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="aciklama"><span>Aciklama</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let uzmanlikAlanlari of uzmanlikAlanlaris ;trackBy: trackId">
                <td><a [routerLink]="['/uzmanlik-alanlari', uzmanlikAlanlari.id, 'view' ]">{{uzmanlikAlanlari.id}}</a></td>
                <td>{{uzmanlikAlanlari.detayBilgiler}}</td>
                <td>{{uzmanlikAlanlari.aciklama}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/uzmanlik-alanlari', uzmanlikAlanlari.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/uzmanlik-alanlari', uzmanlikAlanlari.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'uzmanlik-alanlari/'+ uzmanlikAlanlari.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="uzmanlikAlanlaris && uzmanlikAlanlaris.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
