<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="uzmanlikAlanlari">
            <h2><span>Uzmanlik Alanlari</span> {{uzmanlikAlanlari.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Detay Bilgiler</span></dt>
                <dd>
                    <span>{{uzmanlikAlanlari.detayBilgiler}}</span>
                </dd>
                <dt><span>Aciklama</span></dt>
                <dd>
                    <span>{{uzmanlikAlanlari.aciklama}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/uzmanlik-alanlari', uzmanlikAlanlari.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
