<div>
    <h2 id="page-heading">
        <span>Yabanci Dil Bilgileris</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-yabanci-dil-bilgileri" [routerLink]="['/yabanci-dil-bilgileri/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Yabanci Dil Bilgileri
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="yabanciDilBilgileris">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dil"><span>Dil</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="belgeTuru"><span>Belge Turu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="belgeTarihi"><span>Belge Tarihi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="puan"><span>Puan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let yabanciDilBilgileri of yabanciDilBilgileris ;trackBy: trackId">
                <td><a [routerLink]="['/yabanci-dil-bilgileri', yabanciDilBilgileri.id, 'view' ]">{{yabanciDilBilgileri.id}}</a></td>
                <td>{{yabanciDilBilgileri.dil}}</td>
                <td>{{yabanciDilBilgileri.belgeTuru}}</td>
                <td>{{yabanciDilBilgileri.belgeTarihi | date:'mediumDate'}}</td>
                <td>{{yabanciDilBilgileri.puan}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/yabanci-dil-bilgileri', yabanciDilBilgileri.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/yabanci-dil-bilgileri', yabanciDilBilgileri.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'yabanci-dil-bilgileri/'+ yabanciDilBilgileri.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="yabanciDilBilgileris && yabanciDilBilgileris.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
