<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="yabanciDilBilgileri">
            <h2><span>Yabanci Dil Bilgileri</span> {{yabanciDilBilgileri.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Dil</span></dt>
                <dd>
                    <span>{{yabanciDilBilgileri.dil}}</span>
                </dd>
                <dt><span>Belge Turu</span></dt>
                <dd>
                    <span>{{yabanciDilBilgileri.belgeTuru}}</span>
                </dd>
                <dt><span>Belge Tarihi</span></dt>
                <dd>
                    <span>{{yabanciDilBilgileri.belgeTarihi}}</span>
                </dd>
                <dt><span>Puan</span></dt>
                <dd>
                    <span>{{yabanciDilBilgileri.puan}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/yabanci-dil-bilgileri', yabanciDilBilgileri.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
