<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-yabanci-dil-bilgileri-heading">Create or edit a Yabanci Dil Bilgileri</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!yabanciDilBilgileri.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="yabanciDilBilgileri.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dil">Dil</label>
                    <select class="form-control" name="dil" [(ngModel)]="yabanciDilBilgileri.dil" id="field_dil" >
                        <option value="TURKCE">TURKCE</option>
                        <option value="INGILIZCE">INGILIZCE</option>
                        <option value="FRANSIZCA">FRANSIZCA</option>
                        <option value="ALMANCA">ALMANCA</option>
                        <option value="JAPONCA">JAPONCA</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_belgeTuru">Belge Turu</label>
                    <select class="form-control" name="belgeTuru" [(ngModel)]="yabanciDilBilgileri.belgeTuru" id="field_belgeTuru" >
                        <option value="CAE">CAE</option>
                        <option value="CPE">CPE</option>
                        <option value="FCE">FCE</option>
                        <option value="IELTS">IELTS</option>
                        <option value="KPDS">KPDS</option>
                        <option value="TOEFL">TOEFL</option>
                        <option value="UDS">UDS</option>
                        <option value="YDS">YDS</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_belgeTarihi">Belge Tarihi</label>
                    <div class="input-group">
                        <input id="field_belgeTarihi" type="text" class="form-control" name="belgeTarihi" ngbDatepicker  #belgeTarihiDp="ngbDatepicker" [(ngModel)]="yabanciDilBilgileri.belgeTarihi"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="belgeTarihiDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.belgeTarihi?.dirty && editForm.controls.belgeTarihi?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.belgeTarihi?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_puan">Puan</label>
                    <input type="number" class="form-control" name="puan" id="field_puan"
                        [(ngModel)]="yabanciDilBilgileri.puan" required/>
                    <div [hidden]="!(editForm.controls.puan?.dirty && editForm.controls.puan?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.puan?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.puan?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
