<div>
    <h2 id="page-heading">
        <span>Yayinlars</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-yayinlar" [routerLink]="['/yayinlar/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Yayinlar
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="yayinlars">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="yayinTuru"><span>Yayin Turu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="yazarAdi"><span>Yazar Adi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isbn"><span>Isbn</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sayfaSayisi"><span>Sayfa Sayisi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="yayinBilgisi"><span>Yayin Bilgisi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="yayinYil"><span>Yayin Yil</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="elektronikErisim"><span>Elektronik Erisim</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="anahtarKelimeler"><span>Anahtar Kelimeler</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let yayinlar of yayinlars ;trackBy: trackId">
                <td><a [routerLink]="['/yayinlar', yayinlar.id, 'view' ]">{{yayinlar.id}}</a></td>
                <td>{{yayinlar.yayinTuru}}</td>
                <td>{{yayinlar.yazarAdi}}</td>
                <td>{{yayinlar.isbn}}</td>
                <td>{{yayinlar.sayfaSayisi}}</td>
                <td>{{yayinlar.yayinBilgisi}}</td>
                <td>{{yayinlar.yayinYil}}</td>
                <td>{{yayinlar.elektronikErisim}}</td>
                <td>{{yayinlar.anahtarKelimeler}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/yayinlar', yayinlar.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/yayinlar', yayinlar.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'yayinlar/'+ yayinlar.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="yayinlars && yayinlars.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
