<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="yayinlar">
            <h2><span>Yayinlar</span> {{yayinlar.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Yayin Turu</span></dt>
                <dd>
                    <span>{{yayinlar.yayinTuru}}</span>
                </dd>
                <dt><span>Yazar Adi</span></dt>
                <dd>
                    <span>{{yayinlar.yazarAdi}}</span>
                </dd>
                <dt><span>Isbn</span></dt>
                <dd>
                    <span>{{yayinlar.isbn}}</span>
                </dd>
                <dt><span>Sayfa Sayisi</span></dt>
                <dd>
                    <span>{{yayinlar.sayfaSayisi}}</span>
                </dd>
                <dt><span>Yayin Bilgisi</span></dt>
                <dd>
                    <span>{{yayinlar.yayinBilgisi}}</span>
                </dd>
                <dt><span>Yayin Yil</span></dt>
                <dd>
                    <span>{{yayinlar.yayinYil}}</span>
                </dd>
                <dt><span>Elektronik Erisim</span></dt>
                <dd>
                    <span>{{yayinlar.elektronikErisim}}</span>
                </dd>
                <dt><span>Anahtar Kelimeler</span></dt>
                <dd>
                    <span>{{yayinlar.anahtarKelimeler}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/yayinlar', yayinlar.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
