<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-yayinlar-heading">Create or edit a Yayinlar</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!yayinlar.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="yayinlar.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_yayinTuru">Yayin Turu</label>
                    <select class="form-control" name="yayinTuru" [(ngModel)]="yayinlar.yayinTuru" id="field_yayinTuru"  required>
                        <option value="OZEL">OZEL</option>
                        <option value="KAMU">KAMU</option>
                        <option value="DIGER">DIGER</option>
                    </select>
                    <div [hidden]="!(editForm.controls.yayinTuru?.dirty && editForm.controls.yayinTuru?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.yayinTuru?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_yazarAdi">Yazar Adi</label>
                    <input type="text" class="form-control" name="yazarAdi" id="field_yazarAdi"
                        [(ngModel)]="yayinlar.yazarAdi" required/>
                    <div [hidden]="!(editForm.controls.yazarAdi?.dirty && editForm.controls.yazarAdi?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.yazarAdi?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isbn">Isbn</label>
                    <input type="text" class="form-control" name="isbn" id="field_isbn"
                        [(ngModel)]="yayinlar.isbn" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sayfaSayisi">Sayfa Sayisi</label>
                    <input type="number" class="form-control" name="sayfaSayisi" id="field_sayfaSayisi"
                        [(ngModel)]="yayinlar.sayfaSayisi" required/>
                    <div [hidden]="!(editForm.controls.sayfaSayisi?.dirty && editForm.controls.sayfaSayisi?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sayfaSayisi?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.sayfaSayisi?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_yayinBilgisi">Yayin Bilgisi</label>
                    <input type="text" class="form-control" name="yayinBilgisi" id="field_yayinBilgisi"
                        [(ngModel)]="yayinlar.yayinBilgisi" required/>
                    <div [hidden]="!(editForm.controls.yayinBilgisi?.dirty && editForm.controls.yayinBilgisi?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.yayinBilgisi?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_yayinYil">Yayin Yil</label>
                    <input type="text" class="form-control" name="yayinYil" id="field_yayinYil"
                        [(ngModel)]="yayinlar.yayinYil" required/>
                    <div [hidden]="!(editForm.controls.yayinYil?.dirty && editForm.controls.yayinYil?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.yayinYil?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_elektronikErisim">Elektronik Erisim</label>
                    <input type="text" class="form-control" name="elektronikErisim" id="field_elektronikErisim"
                        [(ngModel)]="yayinlar.elektronikErisim" required/>
                    <div [hidden]="!(editForm.controls.elektronikErisim?.dirty && editForm.controls.elektronikErisim?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.elektronikErisim?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_anahtarKelimeler">Anahtar Kelimeler</label>
                    <input type="text" class="form-control" name="anahtarKelimeler" id="field_anahtarKelimeler"
                        [(ngModel)]="yayinlar.anahtarKelimeler" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
